    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }

    /* Sticky Navbar */
    .navbar {
      position: sticky;
      top: 0;
      width: 100%;
      background: #000000;
      padding: 18px 0;
      display: flex;
      justify-content: center;
      gap: 40px;
      z-index: 1000;
      box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    }

    .navbar a {
      color: #b8b8b8;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      align-items: flex-end;
      transition: all 0.3s ease;
      letter-spacing: 0.5px;
    }

    /* Modern Hover Effect */
    .navbar a:hover {
      color: white;
      transform: translateY(-3px);
    }

    /* Active page underline effect */
    .navbar a.active {
      color: white;
      border-bottom: 2px solid white;
      padding-bottom: 4px;
    }

 .banner {
width: 100%;
height: 450px;
background: url('images/blackkk.png') center/cover no-repeat;
display: flex;
align-items: center;
justify-content: center;
position: relative;
margin-top: -5px;
}
.banner::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.45);
}
.banner-content {
position: relative;
z-index: 2;
}
.animated-text {
font-size: 50px;
font-weight: 900;
color: white;
}
.switch {
color: #50C878;
position: relative;
}
.switch::after {
content: "a Star?";
animation: textChange 4s infinite;
}
@keyframes textChange {
0% { content: "a Star?"; }
50% { content: "The Next Messi?"; }
100% { content: "a Star?"; }
}

.main-content {
  background-color: #000;
  color:gray;
}


.content-container {
max-width: 1200px;
margin: 0 auto;
}


.content-grid {
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
gap: 40px;
}


.text-block {
text-align: left;
}


.text-block h3 {
margin-top: 50px;
font-size: 28px;
font-weight: 700;
margin-bottom: 15px;
color: rgb(109, 229, 109);
}


.text-block p {
font-size: 18px;
color: #444;
line-height: 1.6;
}


.image-block img {
margin-top: 50px;
width: 100%;
height: 350px;
object-fit: cover;
border-radius: 12px;
box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}


@media(max-width: 900px) {
.content-grid {
grid-template-columns: 1fr;
text-align: center;
}


.text-block {
text-align: center;
}
}

.footer {
background-color: #000;
padding: 25px 0;
display: flex;
justify-content: center;
align-items: center;
margin-top: 0px;
}
.footer .fText {
color: #b8b8b8;
font-size: 16px;
letter-spacing: 1px;
margin: 0;
font-weight: 500;
}


